<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
          <h6 class="my-0">Pais</h6>
          <ul class="list-group mb-3 text-muted">
              <li style="cursor: pointer;" (click)="SeleccionarPais(pais)" class="list-group-item d-flex justify-content-between lh-condensed "
                  *ngFor="let pais of listaPaises">
                  <span>{{pais.nombre}}</span>
              </li>
          </ul>
      </div>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div *ngIf="mostrar">
          <h6 class="my-0">Bandera</h6>
          <img [src]="bandera" alt="">
      </div>
  </li>
</ul>
