<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">{{nombre}}</h1>
    <img [src]="foto"  alt="">
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex  w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Cantidad de repositorios publicos</h2>
      <p class="lead">{{repositorios}}</p>
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 ml-5 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class=" my-3 p-3">
      <h2 class="display-5">Cantidad de Seguidos y seguidores</h2>
      <p class="lead">Seguidos:{{seguidos}}   Seguidores:{{seguidores}}</p>
    </div>

  </div>
</div>
